body {
  width: 400px;
  height: 220px;
}
.vertical-offset-10{
    padding-top:10px;
}

#loginHeader {
  text-align: center;
}

.invalid {
  margin-top: 10%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.finish-button {
  margin-top: 1%;
  float: right;
}